*{
    margin:0;
    padding:0;
    /* text-wrap: initial; */

}

a{
    text-decoration-line: none;
}
body{
    background-color: rgb(245, 217, 145);
}

.amazonheader{
    /* position: sticky;
    top: 10px; */
    width:100%;
    height:70px;
    background-color:rgb(27, 26, 29);
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.amazonheader > div{
    /* position: sticky; */
    width:200px;
    height:50px;
    background-color:rgb(27, 26, 29);
}

#All{
    position:absolute;
    top: 1.9%;
    left: 340px;
    color:rgb(10, 10, 10);
    width: 50px;
    height: 50px;
    /* border: solid 2px black; */
    /* border-radius: 20%; */
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    background-color: rgb(214, 212, 212);


}

/* #logo{
    font-size: 20px;
    font-family:sans-serif;
}
#amz{
    font-size: 30px;
    font-family:sans-serif;
    font-weight: bold;
    color: rgb(249, 250, 252);
    position: absolute;
    top: 1%;
    font-weight: 600;
}
#in{
    font-size: 15px;
    font-family:sans-serif;
    font-weight: bold;
    color: rgb(249, 250, 252);
    position: absolute;
    top: 3%;
    left: 110px;  
}
#amzlogosy{
    position: absolute;
    top: 15px;
    left: 10px;
} */

#logo{
    position: absolute;
    top: 5px;
    left: 10px;
    height:50px;
    width:120px ;   
}

#lo{
    position: absolute;
    top: 10px;
    left: 160px;
    width: 180px;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:15px;
}
strong{
    font-weight: bold;
}
#search{
    position: absolute;
    top: 2%;
    left: 360px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 10px;
    /* border-top-right-radius: 10%;
    border-bottom-right-radius: 10%; */

}

#searchbar{
    
    height: 48px;
    width:500px;
    border-radius:5px;
    border:solid rgb(251, 251, 252) 1px;
    font-size:16px;
    padding-left:10px;
    border-radius: 10px;
    text-align: left;
}

#searchbutton{
    position: absolute;
    top: 12px;
    left: 810px;
    height:50px;
    width:60px ;   
    background-color: rgb(163, 109, 29);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

#country{
    position:absolute;
    top: 20px;
    left: 880px;
    width: 50px;

}
#text{
    position: absolute;
    top:20px;
    left: 960px;
    color:white;
    width: 120px;
    
}
#text1{
    font-weight: bold;
    font-size:13px;
}
#text2{
    font-weight: bold;
}

#text3{
    position: absolute;
    top:20px;
    left: 1100px;
    color:white;
    width: 70px;
    
}
#text4{
    font-weight: bold;
    font-size:13px;
}
#text4{
    font-weight: bold;
}

#cart{
    position: absolute;
    top: 5px;
    left: 1200px;
    height:40px;
    width:40px ;   
}

.belowheader{
    color: white;
    width:100%;
    height:50px;
    background-color:rgb(71, 70, 75);
    position: absolute;

    display:flex;
    justify-content:space-around;
    align-items:center;
    top:70px;
    
}

.belowheader > span{

    color:white;
    font-size:14px;
    font-family:sans-serif;
    justify-content: center;
    align-items:center;
    top:5px;
    font-weight:bolder;
 
    a:link{
/* unvisited */
 /* background: gold ; */
 color: rgb(252, 249, 249);
 }

 a:active{
    /* when clicked  */
    color: rgb(103, 134, 235);
 }
 a:visited{
    /* after visited */
    color: rgb(247, 248, 247);
 }

 a:hover{
    border:solid 2px rgb(252, 252, 253);

}
}




.container1{
    position: absolute;
    top: 24rem;
    /* left: 200px; */
    display: flex;
    justify-content:space-around;
    /* gap: 20px; */
    width: 100%;
    height: 380px;
    /* background: red; */

}

.container1 > div{
    text-align: center;
    width:280px;
    height: 370px;
    background-color: white;
    border-color: rgb(252, 252, 252);
    border-width: 10px;
    border-style: solid;
}

#bagroundimg{
    position: absolute;
    top: 120px;
    
}


.container2{
    position: absolute;
    top: 790px;
    /* left: 200px; */
    display: flex;
    justify-content:space-around;
    /* gap: 20px; */
    width: 100%;
    height: 380px;
    /* background: red; */

}

.container2 > div{
    text-align:center;
    width:300px;
    height: 380px;
    background-color: rgb(253, 252, 252);
}
.container3{
    position:absolute;
    top:1190px;
    left:12px;
    width:98%;
    height:300px;
    background-color: white;
    /* margin:20px; */
    /* border:2px solid rgb(252, 252, 252); */
}

.container4{
    position:absolute;
    top:1512px;
    left:12px;
    width:98%;
    height:300px;
    background-color: white;
    
}

.container5{
    position:absolute;
    top: 1834px;
    width:100%;
    height:380px;
    /* background: white; */
    display: flex;
    justify-content:space-around;
}

.container5 > div{
    width:300px;
    height:380px;
    background-color: white;
    /* border: solid black 1px; */
  
}

.container6{
    position:absolute;
    top: 2235px;
    left:12px;
    width:98%;
    height:300px;
    background-color: white;
    /* border: solid black 1px; */
}

.container7{
    position:absolute;
    top: 2557px;
    left:12px;
    width:98%;
    height:300px;
    background-color: white;
    /* border: solid black 1px; */
}

.container8{
    position:absolute;
    top: 2879px;
    left:190px;
    width:70%;
    height:300px;
    background-color: white;
    /* display: flex;
    justify-items: center;
    text-align: center; */
}

.container9{
     position:absolute;
    top: 3201px;
    width:100%;
    height:380px;
    /* background: white; */
    display: flex;
    justify-content:space-around;

}
.container9 > div{
    width:300px;
    height:380px;
    background-color: white;
    /* border: solid black 1px; */  
}

.container10{
    position:absolute;
    top: 3602px;
    left:12px;
    width:98%;
    height:300px;
    background-color: white;
    /* border: solid black 1px; */
}

.container11{
    position:absolute;
    top: 3924px;
    left:12px;
    width:98%;
    height:300px;
    background-color: white;
    /* border: solid black 1px; */
}

.container12{
    position:absolute;
    top: 4246px;
    
    width:100%;
    height: 380px;
    /* background-color: white; */
    display:flex;
    justify-content:space-around;

}
.container12 > div{
    width:300px;
    height:380px;
    background-color: white;
    /* border: solid black 1px; */  
}

.container13{
    position:absolute;
    top: 4647px;
    left:12px;
    width:98%;
    height:300px;
    background-color: white;
    /* border: solid black 1px; */
}

.container14{
    position:absolute;
    top: 4969px;
    left: 190px;
    width:70%;
    height:280px;
    background-color: white;
    /* border: solid black 1px; */
    justify-content: center;
    align-items: center;
}   

.footcontainer15{
    position:absolute;
    top:5269px;
    width:100%;
    height:150px;
    background-color:  rgb(253, 252, 252);
    justify-content: center;
    text-align: center;

}

.foot16{
    position: absolute;
    top:5419px;
    width: 100%;
    height: 50px;
    background: rgb(141, 141, 141);
    display: flex;
    justify-content: center;
    align-items: center;
    color: beige;
}

.foot17{
    position: absolute;
    top:5469px;
    width: 100%;
    height: 380px;
    background: rgb(48, 48, 54);
    display: flex;
    justify-content: space-around;
    color: beige;
}

#exdiv{
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
    width: 80%;
    height: 380px;
    /* border: solid rgb(204, 204, 32) 1px; */
    background: rgb(48, 48, 54);
}
.foot17 div{
    width: 200px;
    height: 380px;
    /* border: solid beige 1px; */
    background: rgb(48, 48, 54);
    
    
}

.foot18{
    position: absolute;
    top:5849px;
    width: 100%;
    height: 100px;
    background: rgb(48, 48, 54);

    display:flex;
    justify-content: center;
    text-align: center;
    /* border: solid rgb(150, 150, 236) 1px; */

}

.foot18 > div{
    position: relative;
    top:20px;
    display: flex;
    align-items:center;
    justify-content:space-around;
    width:50%;
    height: 50px;
    /* border: solid rgb(230, 230, 235) 1px; */
}



.foot19{
    position: absolute;
    top:5949px;
    width: 100%;
    height: 200px;
    background: rgb(27, 26, 29);
    display: grid;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    color: rgb(250, 250, 248);
    /* border: solid rgb(102, 245, 46) 1px; */
}


.foot19  div{
    /* display: flex; */
    /* justify-content: space-around; */
    justify-content: center;
    text-align: center;
    gap: 3rem;
    width: 150px;
    height: 80px;
    background: rgb(27, 26, 29);
    color: white;
    /* border: solid rgb(102, 245, 46) 1px; */
    font-size: 13px;
    font-family: sans-serif;
    position: relative;
    left: 80px;
}

#div1{
    height: 60px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
    /* border: solid rgb(60, 148, 206) 1px; */
    /* background: blue; */

}
#div2{
    position: relative;
    bottom: 50px;
    height: 50px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    /* border: solid rgb(60, 148, 206) 1px; */

}



.foot20{
    position: absolute;
    top:6149px;
    width: 100%;
    height: 50px;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}